*{
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html,
body {
  height: 100%;
  width: 100%;
}

h1{
  font-size: 50px;
  margin:5px
}

button{
    padding: 10px 20px;
    margin: 5px;
}